main {
  width: 100%;
  height:100%;
  background-color: #f5f5f5;
  .content{
    padding-top: 17px;
    .leftBar {
      float:left;
      width:260px;
      margin-right: 7px;
      .section {
        margin-bottom: 16px;
        border: 1px solid #ddd;
        background-color: #fff;
      }
      .section.about {
        border-top: 6px solid #b17401;
        padding-bottom: 20px;
        ul li{
          float: left;
        }
        ul li.active{
          h3 {
            font: 24px OxygenBold;
            background-color: #b17401;
            color: #fff;
            width: 86px;
            height: 55px;
            text-align:center;
            a {
              position: relative;
              top: 18px;
            }
          }

        };
        ul li.hidden{
          h3 {
            width:64px;
            height:20px;
            background-color:#ddd;
            margin: 2px 0 2px 2px;
          }
        };
        .sectionsAbout{
          clear: both;
          padding:24px 10px 0;
          section{
            font: 12px OxygenLight;
            p {
              padding: 5px 0;
            }
          }
        }
      }
    };
    .mainContent{
      float:left;
      .shareComponent{
        width: 502px;
        min-height: 200px;
        background-color: #eee;
        padding: 10px;
        border-radius: 5px;
        form{
          background-color: #fff;
          text-align: center;
          font: 14px Oxygen;
          select{
            width: 440px;
            height: 35px;
            border: 0;
            background: #fff;
            border-top:0;
            border-left:0;
            border-right:0;
            border-bottom: 1px solid #ccc;
            margin-top:10px;
          }
          textarea{
            width: 440px;
            min-height: 50px;
            border-top:0;
            border-left:0;
            border-right:0;
            border-bottom: 1px solid #ccc;
            margin-top:10px;
            border-radius: 5px;
          }
          .actions{
            margin: 16px 22px 0 34px;
            .add{
              float:left;
              margin-right:30px;
            }
            .publish{
              float:right;
              position: relative;
              bottom: 11px;
            }
            .chars{
              text-align: right;
              font: 10px OxygenLight;
              color: #ccc;
              padding: 2px 0 11px 0;
            }
          }
        }
      };
      .main {
        max-width: 502px;
        article {
          clear: both;
           border-top: 20px solid #f5f5f5;
          header {
            font: 18px OxygenBold;
            color: #999;
            height: 42px;
            background: #eee;
            h4 {
              display: block;
              padding:8px 0 0 10px;
            }
            img {
              position: relative;
              bottom: 42px;
              right: 12px;
              float: right;
              border-radius: 50px;
            }
          };
          .feedContent {
            background: #fff;
            color: #344f5d;
            font: 11px OxygenLight;
            .info{
              padding:10px 0 30px 10px;
              img {
                vertical-align: text-bottom;
              }
              .category{
                background: #d1eeff;
                padding: 0 4px;
                border-radius: 3px;
              }
            }
            .post{
              font: 14px OxygenLight;
              color: #666;
              p {
                padding: 0 10px;
              }
              .more {
                font-size: 11px;
                text-decoration: underline;
                padding: 10px 10px 0 10px;
                color: #608389;
              }
              figure {
                margin-top: 10px;
                height: 498px;
                max-width: 502px;
              }
              .photoAction {
                background-color:rgba(0, 0, 0, 0.5);
                height: 100%;
                text-align: center;
                color: #b17401;
                float: left;
                margin: 0 auto;
                width: 502px;
                z-index: 2;
                button{
                  font: 24px Oxygen;
                  margin-top: 43%;
                  background: #fff;
                  border-radius: 5px;
                  height: 44px;
                  padding: 0 25px;
                  padding-bottom: 4px;
                  img,svg {
                    vertical-align: bottom;
                  }
                }
              }
            }; 
            .retweet{
              .retweetHead { 
                font: 14px OxygenBold;
                color: #666;
                margin: 12px 0 0 12px;
                img {
                  vertical-align: middle;
                  margin-right: 4px;
                }
                .following{
                  float: right;
                  position: relative;
                  top: 5px;
                }
              }
              .info{
                padding: 0px 0 0 45px;
              };
              p{
                padding: 20px 20px 10px 45px;
                font: 12px Arial;
                color: #4d767c;
              }
              span.more{
                display:block;
                padding: 0 0 10px 45px;
                font: 11px OxygenLight;
                text-decoration: underline;
              }
            }
          }; 
          footer{
            font: 11px OxygenLight;
            color: #8099a8;
           .actions {
             background: #d1eeff;
             height: 35px;
            div {
              position: absolute;
            }
            .comments {
              float:left;
              margin: -5px 16px;
              img {
                margin-right: 6px;
                vertical-align: bottom;
              }
              span {
                text-decoration: underline;
              }
            }
            .retweet {
              margin: 10px 0 0 242px;
            }
            .others{
              margin: 6px 0 0 443px;
              .amem{
                margin-right:12px;
              }
            }
           }
            .postFooter{
              background: #fff;
              height:46px;
              border-bottom: 6px solid #eee;
              picture {
                float: left;
              }
              .camera {
                position: relative;
                left: 12px;
                top: 10px;
              }
              .picture{
                position:relative;
                left: 220px;
                top: 8px;
                img {
                  width: 26px;
                  border-radius: 20px;
                }
              }
              .bird{
                float: right;
                position: relative;
                top: 8px;
                right: 10px;
              }
            }    
          }
        }
      }
    };
    .rightBar{
      float:right;
      .sections{
        clear:both;
        section{
          width:220px;
          height:312px;
          overflow: hidden;
          background: #000;
          .mainImg{
            opacity: 0.6;
          };
          .infos{
            text-align:center;
            position: relative;
            bottom: 300px;
            font: 14px Oxygen;
            color:#fff;
            .support{
              margin-bottom: 8px;
              width: 176px;
              height: 34px; 
              background: #b17401;
              border-radius: 5px;
              img {
                margin-right:6px;
              }
              svg {
                position: relative;
                top: 2px;
              }
            };
            .support.white{
              background: #fff;
              color: #b17401;
            }
            .text{
              font: 16px OxygenBold;
              color:#fff;
              text-align:center;
              height: 20px;
            }
            .supportType {
              font: 16px OxygenBold;
              margin-top: 52px;
              span{
                display:block;
                margin-top: 17px;
              }
            }
            .brand {
              margin-top: 16px;
            }
          }
        }
        .arrowLeft{
          float:left;
          position: relative;
          left: 17px;
          top: 148px;
          img{
            transform: rotate(180deg);
          }
        }
        .arrowRight{
          float: right;
          position: relative;
          right: 7px;
          bottom: 165px;
        }
      }
    }
  }
}
