$upBarH: 45px;
$mainHeaderH: 300px;

header {
    .upBar{
        height: $upBarH;
        background: #d1eeff;
        .profile{
            background: #bea567;
            width: 220px;
            float: right;
            height: $upBarH;
            .photoName {
                width:175px;
                float:left;
                height: $upBarH;
                font: 11px OxygenBold;
                .thePhoto{
                    width: 35px;
                    height: 35px;
                    background: #fff;
                    border-radius: 20px;
                    margin: 5px 10px 0;
                    overflow: hidden;
                    float: left;
                    img {
                        width: 75px;
                        position: relative;
                        right: 28px;
                        bottom: 2px;
                    }
                };
                .number{
                    font-size: 10px;
                    float:left;
                    color:#b17401;
                    background-color: #fff;
                    width: 19px;
                    height: 19px;
                    position: relative;
                    right: 19px;
                    top: 2px;
                    border-radius: 10px;
                    text-align: center;
                    span{
                        display: inline-block;
                        position: relative;
                        top: 3px;
                    }
                }
                .name {
                    text-align: center;
                    color: #fff;
                    display: block;
                    position: relative;
                    top: 14px;
                    right: 20px;
                }
            };
            .settings {
                width: 45px;
                background: #b17401;
                float:right;
                height: $upBarH;
                a {
                    position: relative;
                    top: 14px;
                    left: 14px;
                }
            };
        };
        .search {
            float: right;
            margin: 5px 10px 0 126px;
            overflow: hidden;
            input[type="text"]{
                width:  196px;
                height: 34px;
                border: 0 none;
                border-radius: 6px;
            };
            input[type="image"]{
                position: relative;
                right: 26px;
                top: 2px;
            };
        };
        .notifications{
                height: $upBarH;
                float: right;
                font: 13px OxygenBold;
                div {
                    float:right;
                    width: 35px;
                    height: 35px;
                    margin: 5px 5px;
                    background: #344f5d;
                    border-radius: 30px;
                    img, svg {
                        margin:9px;
                    };
                    .number {
                        background: #b17401;
                        height: 20px;
                        width: 20px;
                        border-radius:10px;
                        color: #fff;
                        font-size: 12px;
                        display: block;
                        text-align: center;
                        position: relative;
                        bottom: 48px;
                        left: 8px;
                        span{
                            display: block;
                            position: relative;
                            top: 3px;
                        }
                    };
                    .number.empty {
                        display: none;
                    }
                }
        };
    }
    .mainHeader{
        color: #fff;
        background: #000;
        .content{
            background-image: url('./../images/header-bg.jpg');
            .profilePhoto {
                float: left;
                height: $mainHeaderH;
                width: 30%;
                .photo {
                    width:218px;
                    height:233px;
                    background-image: url('./../images/header-profile-photo-base.png');
                    margin-top:43px;
                    .dotUp{
                        position: relative;
                        left: 42px;
                        bottom:7px;
                        font: 16px OxygenBold;
                    }
                    .thePhoto{
                        width: 196px;
                        overflow: hidden;
                        height: 198px;
                        border-radius: 123px;
                        position: relative;
                        bottom: 3px;
                        left: 3px;
                        img {
                            position: relative;
                            right: 98px;
                            bottom: 12px;
                        }
                    }
                    .dotDown{
                        position: relative;
                        left: 112px;
                        top: 2px;
                        font: 12px OxygenLight;
                    }
                };
                .calice{
                    float: right;
                    position: relative;
                    bottom: 100px;
                    right: 30px;
                }
            }
            .profileInfo{
                width:70%;
                float: right;
                .profile{
                    float: left;
                    h1{
                        font: 26px OxygenBold;
                        margin: 70px 0 22px;
                    };
                    h2{
                        font: 16px OxygenBold;
                        margin-bottom: 20px;
                    };
                    .actions{
                        font: 14px Oxygen;
                        button {
                            height: 34px; 
                            border-radius: 3px;
                            
                            img {
                                margin-left: 8px;
                            }
                            svg {
                                margin-left: 15px;
                            }
                        }
                        .follow{
                            color: #bc8a44;
                            width: 83px;
                            background: #fff;
                            margin-right: 22px;
                        };
                        .invite{
                            color: #fff;
                            background: #344f5d;
                            width: 176px;
                        }
                        button span {
                            margin-left: 3px;
                            display: inline-block;
                            position: relative;
                            bottom: 2px;
                            padding-top: 3px;
                        }
                    };
                    .followers{
                        margin: 25px 0 17px;
                        font: 10px Oxygen;
                        ul li{
                            float:left;
                            .number{
                                color: #000;
                                background-color: #fff;
                                display: inline-block;
                                min-width: 12px;
                                text-align: center;
                                border-radius: 10px;
                                padding: 0 4px;
                            };
                            .text {
                                margin: 0 3px;
                            }
                        }
                    }
                };
                .profileButtons{
                    float:right;
                    button{
                        width:175px;
                        height:35px;
                        display:block;
                        border-radius: 3px;
                        font: 14px Oxygen;
                        text-align: left;
                        margin-top:16px;
                        img {
                            position: relative;
                            right: 6px;
                            top: 3px;
                            margin-left: 30px;
                        }
                    };
                    .seeMap{
                        margin-bottom:4px;
                        background: #bc8a44;
                        color: #fff;
                    };
                    .share{
                        background: #fff;
                        color: #bc8a44;
                    };
                    .socialButtons{
                        margin-top:100px;
                        ul li {
                        float: left;
                            margin-left: 8px;
                        }
                    }
                }
                .profileMenu{
                    clear: both;
                    padding-top: 14px;
                    font: 14px Oxygen; 
                    ul {
                        li{
                            float: left;
                            margin-left:25px;
                            img {
                                margin-right: 2px;
                                position: relative;
                                top: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}