$mainWidth: 1000px;
$minWidth: 710px;


@font-face {
    font-family: Oxygen;
    src: url('./fonts/Oxygen-Regular.ttf');
    font-weight: regular;
}

@font-face {
    font-family: OxygenBold;
    src: url('./fonts/Oxygen-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: OxygenLight;
    src: url('./fonts/Oxygen-Light.ttf');
    font-weight: lighter;
}

@import 'custom_bootstrap';
@import 'bootstrap/scss/bootstrap';
@import 'header';
@import 'content';


#root{
    width: 100%;
}

.content{
    max-width: $mainWidth;
    min-width: $minWidth;
    margin: 0 auto;
}

.clear{
  clear:both
}

button{
  cursor:pointer;
}

//reset

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

  a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;


    text-align: inherit;
}
